:root {
  --text-main-color: #000000;
  --text-light-color: #FFFFFF;
  --accent-color: #FD9222;

  --bg-body: #FAFAFA;;
  --bg-color: #FFFFFF;
  --bg-dark-color: #1E1823;
  --bg-btn-color: #FCF1E0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--text-main-color);
    background-color: var(--bg-body);
}

/**
  |============================
  | Reset
  |============================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/**
  |============================
  | Common styles
  |============================
*/
.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;

}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  text-align: center;
  max-width: 411px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title-orange {
  color: var(--accent-color);
}

.subtitle {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.subtitle-accent {
  color: var(--text-light-color);
}

/**
  |============================
  | Header section
  |============================
*/

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 447px;
  gap: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-italic {
  font-style: italic;
}

.logo-img {}

.header-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-item {}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  align-items: center;
  letter-spacing: -0.28px;
}

.header-networks {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-networks-item {}

.header-networks-link {}

.header-networks-img {}

/**
  |============================
  | Main blok
  |============================
*/

.main {}

/**
  |============================
  | Hero section
  |============================
*/

.hero {
  background-color: var(--bg-dark-color);
  padding-top: 381px;
  padding-bottom: 40px;
  margin-bottom: 72px;
}

.hero-title {
  max-width: 484px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--text-light-color);
}

.hero-btn-buy {
  display: inline-flex;
  align-items: flex-start;
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  text-align: center;
  margin-top: 32px;
  margin-right: 14px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-light-color);
  background-color: var(--accent-color);
}

.hero-btn-buy:hover,
.hero-btn-buy:focus {
  color: var(--accent-color);
  background-color: var(--bg-btn-color);
}

.hero-link {
  display: inline-flex;
  align-items: flex-start;
  min-width: 183px;
  min-height: 45px;
  padding: 13px 39px;
  border-radius: 100px;
  border: 1px solid var(--text-light-color);
  text-align: center;
  margin-right: 585px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-light-color);
  background-color: transparent;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 1px solid var(--accent-color);
}

.hero-btn-scroll {
  display: inline-block;
  align-self: center;
  min-width: 130px;
  min-height: 38px;
  border: none;
  border-radius: 10px;
  gap: 14px;
  flex-shrink: 0;
  padding: 15px 69px 20px 16px;;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  background-color: transparent;
  color: var(--text-light-color);
}

.hero-btn-scroll:hover,
.hero-btn-scroll:focus {
  color: var(--accent-color);
  background-color: var(--bg-color);
  padding: 0;
}

/**
  |============================
  | Benefits section
  |============================
*/

.benefits {
  background-color: var(--bg-dark-color);
}

.benefits-list {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.benefits-item {
  width: 308px;
}

.benefits-img {
  margin-bottom: 22px;
}

.benefits-text {
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
}

/**
  |============================
  | Ingridients section
  |============================
*/

.ingridients {
  padding-top: 100px;
}

.ingridients-text {
  text-align: center;
  
  max-width: 486px;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 50px;

}

.ingridients-list {
  display: flex;
  gap: 19px;
}

.ingridients-item {
  background-color: var(--bg-color);
  flex-basis: calc((100% - 57px) / 4);
  border-radius: 15px;
  padding-top: 28px;
  padding-right: 36px;
  padding-bottom: 28px;
  padding-left: 28px;
}

.ing-itm-1 {
  background-color: var(--accent-color);
}

.ing-itm-2 {
  border: 1px solid var(--accent-color);
}

.ing-itm-3 {
  background-color: var(--bg-dark-color);
}

.ing-itm-4 {
  border: 1px solid var(--accent-color);
}

.ingridients-img {}

.ingridients-subtitle {
  margin-top: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ing-subt-white {
  color: var(--text-light-color);
}

/**
  |============================
  | How it's made section
  |============================
*/

.made {}

.made-content {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.made-img {}

.made-description {
  padding: 32px;
}

.made-subtitle {
  max-width: 350px;
  margin-bottom: 28px;
}

.made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.made-item {
  margin-left: 16px;
}

.made-item:last-child {
  margin-bottom: 0;
}

/**
  |============================
  | Reviews section
  |============================
*/

.reviews {
  padding-bottom: 100px;
}

.reviews-list {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.reviews-item {
  flex-basis: calc((100% - 56px) / 3);
  height: 240px;
  flex-shrink: 0;
}

.review-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 122px;
  width: fit-content;
  margin: 0 auto -96px auto;
}

.reviews-img {}

.reviews-subtitle {
  text-align: center;
}

.review-describe {
  padding: 24px;
  padding-top: 104px;
  height: 200px;
  flex-shrink: 0;

  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background: #FFF;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
}

.reviews-text {
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  display: inline-block;
  margin: 0 457px;
  min-width: 222px;
  min-height: 50px;
  padding: 13px 39px;
  justify-content: center;
  background-color: var(--bg-body);
  border-radius: 100px;
  border: 1px solid var(--accent-color);


  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-main-color);
}

.reviews-btn:hover,
.reviews-btn:focus {
  color: var(--text-light-color);
  background-color: var(--accent-color);
}

/**
  |============================
  | Footer section
  |============================
*/

.footer {
  background-color: var(--bg-dark-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-text {
  max-width: ;width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: var(--text-light-color);
}

.footer-span {
  color: var(--accent-color);
}

.footer-address {
  max-width: 164px;
  font-style: normal;
}

.footer-address-text {
  margin-bottom: 14px;
  font-weight: 500;
  color: var(--text-light-color);
}

.footer-address-list {
  margin-bottom: 50px;
}

.footer-address-item {}

.footer-address-link {
  color: var(--text-light-color);
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.footer-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-item {}

.footer-link {
  font-weight: 500;
  line-height: 1.14;
  align-items: center;
  color: var(--text-light-color);
}