:root {
  --text-main-color: #000000;
  --text-light-color: #FFFFFF;
  --accent-color: #FD9222;

  --bg-body: #FAFAFA;;
  --bg-color: #FFFFFF;
  --bg-dark-color: #1E1823;
  --bg-btn-color: #FCF1E0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--text-main-color);
    background-color: var(--bg-body);
}

/**
  |============================
  | Reset
  |============================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/**
  |============================
  | Common styles
  |============================
*/
.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;

}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  text-align: center;
  max-width: 411px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title-orange {
  color: var(--accent-color);
}

.subtitle {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.subtitle-accent {
  color: var(--text-light-color);
}

/**
  |============================
  | Header section
  |============================
*/

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 447px;
  gap: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-italic {
  font-style: italic;
}

.logo-icon {
  fill: none;
  stroke: var(--accent-color);
  animation: rotate 3s linear 4s infinite both;
}

.logo-img {}
  
.header-logo:hover .header-icon {
    animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-item {}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  align-items: center;
  letter-spacing: -0.28px;
}

.header-networks {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-networks-item {}

.header-networks-link {}

.header-networks-img {}

.network-icon {
  fill: none;
  stroke: var(--text-main-color);
}

/**
  |============================
  | Main blok
  |============================
*/

.main {}

/**
  |============================
  | Hero section
  |============================
*/

.hero {
  padding-bottom: 72px;
}

.hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;

  border-radius: 30px;
  background-color: var(--bg-dark-color);
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(../images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--text-light-color);
}

.hero-btns {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero-left-btns {
  display: flex;
  gap: 14px;
}

.hero-btn-buy {
  display: inline-flex;
  align-items: flex-start;
  min-width: 144px;
  min-height: 47px;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  text-align: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-light-color);
  background-color: var(--accent-color);

  transition: background-color 400ms ease-in-out,
      color 400ms ease-in-out;
}

.hero-btn-buy:hover,
.hero-btn-buy:focus {
  color: var(--accent-color);
  background-color: var(--bg-btn-color);
}

.hero-link {
  display: inline-flex;
  align-items: flex-start;
  min-width: 183px;
  min-height: 47px;
  padding: 13px 39px;
  border-radius: 100px;
  border: 1px solid var(--text-light-color);
  text-align: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-light-color);
  background-color: transparent;

  transition: background-color 400ms ease-in-out,
      color 400ms ease-in-out, border-color 400ms ease-in-out;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 1px solid var(--accent-color);
}

.hero-btn-scroll {
  display: inline-flex;
  gap:14px;
  justify-content: center;
  align-items: center;

  min-width: 130px;
  min-height: 38px;
  border: none;
  border-radius: 10px;
  padding: 7px 17px 10px 16px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  background-color: transparent;
  color: var(--text-light-color);

  transition: background-color 400ms ease-in-out,
      color 400ms ease-in-out;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--bg-body);
  border-radius: 50%;

  transition: background-color 400ms ease-in-out;
}

.hero-btn-scroll:hover .circle,
.hero-btn-scroll:focus .circle {
  background-color: var(--accent-color);
}

.circle-icon {
  fill: var(--accent-color);

  transition: fill 400ms ease-in-out;
}

.hero-btn-scroll:hover .circle-icon,
.hero-btn-scroll:focus .circle-icon {
  fill: var(--bg-color);
}

.hero-btn-scroll:hover,
.hero-btn-scroll:focus {
  color: var(--accent-color);
  background-color: var(--bg-color);
}

/**
  |============================
  | Benefits section
  |============================
*/

.benefits {
  background-color: var(--bg-dark-color);
}

.benefits-list {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
}

.benefits-item {
  position: relative;
  width: 308px;
}

.benefits-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(50% - 62px);
  right: -18px;
  display: block;

  width: 1px;
  height: 124px;

  background-color:rgba(255, 255, 255, 0.5);
}

.benefits-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.502);
}

.benefits-icon {
  fill: var(--accent-color);
}

.benefits-text {
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: auto;
}

/**
  |============================
  | Ingridients section
  |============================
*/

.ingridients {
  padding-top: 100px;
}

.ingridients-text {
  text-align: center;
  
  max-width: 486px;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 50px;

}

.ingridients-list {
  display: flex;
  gap: 19px;
}

.ingridients-item {
  position: relative;
  background-color: var(--bg-color);
  flex-basis: calc((100% - 57px) / 4);
  border-radius: 15px;
  padding-top: 28px;
  padding-right: 36px;
  padding-bottom: 28px;
  padding-left: 28px;
  overflow: hidden;
}

.ing-itm-1 {
  background-color: var(--accent-color);
}

.ing-itm-2 {
  border: 1px solid var(--accent-color);
}

.ing-itm-3 {
  background-color: var(--bg-dark-color);
}

.ing-itm-4 {
  border: 1px solid var(--accent-color);
}

.ingridients-img {}

.ingridients-subtitle {
  margin-top: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ing-subt-white {
  color: var(--text-light-color);
}

/**
  |============================
  | Overlay
  |============================
*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);

  padding: 20px;
  background-color: #fff;
  border-radius: 15px;

  transition: transform 400ms ease-in-out;
}

.ingridients-item:hover .overlay {
  transform: translateY(0);
}

.overlay-title {
  margin-bottom: 8px;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.overlay-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}

.overlay-label {
  padding: 6px 16px;
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  border-radius: 35px;
  background-color: #fd9222;
  border: 1px solid transparent;
}

.overlay-label.active {
  color: #111;
  border-color: #fd9222;
  background-color: #fafafa;
}

.overlay-desc {}

/**
  |============================
  | How it's made section
  |============================
*/

.made {}

.made-content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.made-left-side {
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
}

.made-img {}

.made-right-side {
  padding: 32px;

  background-color: var(--bg-color);
  border-radius: 15px;
}

.made-subtitle {
  margin-bottom: 28px;
}

.made-list {}

.made-item {
  display: flex;
  gap: 8px;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-item::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  background-color: rgba(76, 76, 76, 1);
  border: 1px solid rgba(236, 237, 237, 1);
  border-radius: 50%;
}

/**
  |============================
  | Reviews section
  |============================
*/

.reviews {
  padding-bottom: 100px;
}

.reviews-list {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.reviews-item {
  flex-basis: calc((100% - 56px) / 3);
  height: 240px;
  flex-shrink: 0;
}

.review-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 122px;
  width: fit-content;
  margin: 0 auto -96px auto;
}

.reviews-img {}

.reviews-subtitle {
  text-align: center;
}

.review-describe {
  padding: 24px;
  padding-top: 104px;
  height: 200px;
  flex-shrink: 0;

  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background: #FFF;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
}

.reviews-text {
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  display: inline-block;
  margin: 0 457px;
  min-width: 222px;
  min-height: 50px;
  padding: 13px 39px;
  justify-content: center;
  background-color: var(--bg-body);
  border-radius: 100px;
  border: 1px solid var(--accent-color);


  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-main-color);

  transition: background-color 400ms ease-in-out,
      color 400ms ease-in-out;
}

.reviews-btn:hover,
.reviews-btn:focus {
  color: var(--text-light-color);
  background-color: var(--accent-color);
}

/**
  |============================
  | Footer section
  |============================
*/

.footer {
  background-color: var(--bg-dark-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-text {
  max-width: ;width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: var(--text-light-color);
}

.footer-span {
  color: var(--accent-color);
}

.footer-address {
  max-width: 164px;
  font-style: normal;
}

.footer-address-text {
  margin-bottom: 14px;
  font-weight: 500;
  color: var(--text-light-color);
}

.footer-address-list {
  margin-bottom: 50px;
}

.footer-address-item {}

.footer-address-link {
  color: var(--text-light-color);
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.footer-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-item {}

.footer-link {
  font-weight: 500;
  line-height: 1.14;
  align-items: center;
  color: var(--text-light-color);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 517px;
  height: 750px;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);;
  background-color: var(--bg-body);
  border-radius: 15px;

  transform: translateX(-50%) translateY(-50%);
  transition: transform 400ms ease-in-out;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.modal-icon {
  stroke: var(--text-main-color);
}